Q1; comment code in python
There is a wonderful feature in paython named comment, it is used to prevent the text from exicution.Basically a coder use comment for giving the description to a specific code, whatever it using for. So that When a other person do the work on that code will not facing any problem to understand the context of that code.
In paython there are two ways for comment a code
1) by using hatch (#code..)
2) by using triple inverted comas( """code""")
so when person start the code with # or triple inverted coma's system identifies that it is not a code, and not taking any action for runnig it. For a pairadraph or big text we alwyas preffer to triple coma method.

In [ ]:
#This is not a code. Systam can never run it.

"""this is also not a code"""

Q2: variables and their values


variable is a kind of a box in which the various type of data stored such as; int,string,float,boolian,list..etc.
we are declaring the value of the variable by different ways like in a string we are using "" .Even if we use "" in a integer number then it also assigned as string.we can also chek the data type by a function named "type()".
Integers without '' we can say int , in float has include the decimals also, in boolian there are only two value such as True or False.

In [4]:
var="123"

In [5]:
type(var)

str

There is an important point to note that boolian value'True' and 'False has a specific value; respectivily 1 and 0.Lets take a example for better understanding.If we can run the airthmatic opreation between both then we see that (1+0=1)

In [6]:
True+False

1

convert one data type into another


For converting one data type into another we have to do following steps given in the examples:
1) Firstly,we have to define a value with a variable "d". we are taking a boolian value, which we can chek by the help of function type().
2) Then we have to creat a new variable in which we put the desirable data type assign with the pre define varible "d".
then it will change their data type.

In [4]:
d= True

In [5]:
type(d).

bool

In [14]:
d=str(d)

In [15]:
type(d)

str

Exicute a python script from a command line.


Exicuting a python script from comand promt we have to do following steps;
- open the command promt by searching "cmd" in search bar.
- type "python" before starting the actual code.
- type the code
- call python script.py for exicuting the file.
- Want to exit then use the fuction exit() or quit().

Q5; Given a list my_list=[1,2,3,4,5], write a code to slice the list and obtain the sub list [2,3]


There are multiple ways to solve this problem some of them are following;

In [17]:
my_list=[1,2,3,4,5]

In [24]:
my_list[1:3]

[2, 3]

In [23]:
my_list[-4:-2]

[2, 3]

Q6: complex numbers mathamatics and python.


In the mathamatices complex numbers are written as in a format ex; 4+2i where 'i' is a imagianary number but in python we use 'j' instead of 'i' so we can write the same as 4+2j

Q7. Correct way to declare a variable.


when we are declaring a variabe firstly we need to give a sutaible name for it, which should be according to the data. Then we use the sign of equal '=' for assiging the value with the variable. Then at the last we have to put the value in thr variable. Ex

In [ ]:
age= 25

Q8. Declare a variable named price and assign the value 9.99 to it.What data type does this variable belongs to ?


It is a Float data type of variable because it has value in decimales. We can also chek it by a function type().

In [27]:
price= 9.99

In [29]:
type(price)

float

Q9. Creat a string data type variable and print it

In [35]:
Name= "Rahul Gupta"
print(Name)

Rahul Gupta

Q10;from string "Hello World" extract the "World"

In [36]:
a= "Hello World"

In [41]:
a[-5:]

'World'

Q11. Creat a veriable with boolean value

In [1]:
is_student= True

In [2]:
type(is_student)

bool